<div class="card col-md-6 col-md-offset-3">
  <div class="card-header">
    <h2>Create a Group</h2>
  </div>

  <%= form_for(@group) do |f| %>

  <div class="card-body card-padding">
    <div class="form-group fg-line">

      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form-group fg-line">
      <%= f.label :avatar, "Group Avatar" %>
      <%= f.file_field :avatar %>
    </div>

    <div class="form-group fg-line">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>

    <div class="form-group fg-line">
      <%= f.label :tags %><br>
      <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
    </div>

    <%= f.submit %>
  </div>
  <% end %>
</div>