<div class="card-header">
  <h2><%= group.name %></h2>
  <img><%= image_tag group.avatar(:thumb) %> </img>
  <div>
    <h2>Tags: </h2>
    <% @tags.each do |tag|%>
    <button class="btn btn-primary btn-xs waves-effect">
      <%= tag.name %></button>
      <% end %>
  </div>

  <div class="mini-charts"><!-- Charts begin -->
    <div class="row">
      <div class="col-sm-6 col-md-3"><!-- Member Count begin -->
        <div class="mini-charts-item bgm-cyan">
          <div class="clearfix">
            <div class="chart stats-bar"></div>
            <div class="count">
              <small>Members</small>
              <h2><%= @group.members.count %></h2>
            </div>
          </div>
        </div>
      </div><!-- Member Count end -->
      <div class="col-sm-6 col-md-3"><!-- Cheers Count begin -->
        <div class="mini-charts-item bgm-orange">
          <div class="clearfix">
            <div class="chart stats-line-2"></div>
            <div class="count">
              <small>Cheers</small>
              <h2><%= @group.cheer_count %></h2>
            </div>

          </div>
        </div>
      </div><!-- Cheers Count end -->
    </div>
  </div><!-- Charts end -->

  <div class="card-body card-padding"><!-- Description & Member List Begin -->
    <div class="row">
      <div class="card">
        <div class="card-header ch-alt m-b-20">
          <h2>About This Group: <small><%= group.description %></small></h2>
        </div>
        <div class="card-header ch-alt m-b-20">
          <h2>Members</h2>
        </div>
        <div class="card-body">
          <div class="listview lv-item">
            <% @group.members.each do |member| %>
            <div class="media pull-left">
              <img class="lv-img-sm" src=<%= member.avatar %> alt="">
            </div>
            <div class="media-body">
              <div class="lv-title"><%= member.name %></div>
              <small class="lv-small">Put latest feed activity here</small>
            </div>
            <% end %>
          </div>
          <%= render 'search/form' %>
        </div>
      </div>
    </div>
  </div><!-- Description & Member List End -->
</div>