<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %> 

<div class="card">
	<div class="card-body card-padding">
	<%= render 'groups/groupinfo', group: @group, tags: @tags %>
	
	<%= render 'boards/form' %>
	
	<%= render 'search/results' if @results %>
	
	<%= render @boards if @boards %>
	</div>
</div>