<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %> 

<div class="card">
  <div class="card-header">
    <h2><%= @group.name %></h2>
  </div>

			<div class="card-body card-padding">

				<%= render 'search/form' %>
				<%= render 'boards/form' %>
				<% if @results %>
					<%= render 'search/results' %>
				<% end %>


				<%= render 'groups/groupinfo', group: @group, tags: @tags %>



						<%= render @boards %>

						<%= render @members %>
			</div>

</div>
</div>