<div class="card">
  <div class="card-header">
    <h1><%= current_user.name %>'s Goals</h1>
  </div>
</div>

<%= render 'shared_partials/js_charts' %>

<%= render 'shared_partials/mini_dashboard_charts' %>

<div class="row">
  <div class="col-sm-4" height="350px;">
    <%= render 'shared_partials/goal_container' %>
  </div>
  <div class="col-sm-4"  height="350px;">
   <%= render 'shared_partials/feed_container' %>
 </div>
 <div class="col-sm-4" style="margin-top: 16px;"  height="350px;">
    <%= render 'shared_partials/group_container'%>
  </div>
</div>