<section id="content">
  <div class="card">
  <div class="card-body card-padding"
  <% if @goal.user == current_user %>
    <h2>GOAL: <%= @goal.name %><br> <small><%= @goal.days_left%> DAYS LEFT TO COMPLETE THIS GOAL!</small></h2>
    <h5>Description: <%= @goal.description %></h5>
    <h5>Motivation: <%= @goal.motivation %></h5>
    <h5>Potential Barriers: <%= @goal.potential_barrier %></h5>
    <h5>Supports: <%= @goal.support %></h5>

    <%= button_to "Edit this goal", edit_goal_path(@goal), class: "btn btn-primary btn-sm m-t-1" %>
  </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h2>Activities</h2>
    </div>

    <div class="card-body table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Status</th>
            <th>Description</th>
            <th>Barrier</th>
            <th>Facilitator</th>
            <th>Frequency</th>
            <th>Period</th>
            <th>Points</th>
            <th>Remaining for Period</th>
            <th>Due By</th>
          </tr>
        </thead>

        <tbody style="overflow=scroll;">
          <% @activities.each do |activity| %>
          <%= render partial: 'activities/activity', locals: { :activity => activity, :goal => @goal} %>
          <% end %>
        </tbody>
      </table>
      
    </div>
  </div>
  <div class="card">
    <%= render 'activities/form' %>
  </div>
  <% end %>
</section>

