<%= tr_for_activity(activity) do %>
  <%= form_for([goal, activity]) do |f| %>
    <td><%= f.check_box :status, class: "toggle" %></td>
    <td><%=f.label :description, activity.description %></td>
  <% end %>
  <td><%= activity.barrier %></td>
  <td><%= activity.facilitator %></td>
  <td><span class="act-frequency"><%= activity.frequency%></span></td> 
  <td><span class="act-period"><%= activity.period%></span></td>
  <td class="frequency"><%= activity.activity_points %></td>
  <td class ="counter"><%= activity.remaining_for_period %></td>
  <td class="earliest-due-date"><%= activity.upcoming_due_dates.first.strftime("%B %d, %Y")%></td>
  <td><button class="destroy"></button></td>
      </tr>
<div id="edit-activity" class="hidden"><%= render "form" %></div>

<% end %>
   